:root{
--blur-img:url("../../img/bg.jpg");
--main-color:rgba(156, 226, 250, 0.9);
--panel-content-color:rgba(247, 218, 172, 0.76);
--panel-gradient-top:rgba(47, 113, 169, 1);
--panel-gradient-bott:rgba(9, 99, 176, 1);
--borders:rgba(17, 59, 96,0.5);
--shadow2:rgba(0, 0, 0, 1);
--danger:rgba(255, 0, 0, 0.16);
--success:rgba(0, 255, 0, 0.16);
--info:rgba(255, 255, 255, 0.16);
--font-color:#045BAB;
--font-color2:#ababAB;
--inv-font-color:#ddf;
--unactive-color:#C7EAFB;
--inv-unactive-color:#5e6e7c;
--tab-gradient-top:rgba(220, 220, 220, 1);
--tab-gradient-bott:rgba(190, 190, 190, 1);
--active-gradient-top:rgba(255, 255, 255, 1);
--active-gradient-bott:rgba(220, 220, 220, 1);

--cstate-normal-bkg:#f0ad4e;
--cstate-normal-brd:#8a6d3b;
--modal-bkg:rgba(156, 226, 250, 0.9);
}
@keyframes activeimg{
0%{
filter: drop-shadow(1px 1px 0 white) 
          drop-shadow(-1px -1px 0 white)
}
50%
{
filter: drop-shadow(1px 1px 0 rgb(4, 91, 171))

          drop-shadow(-1px -1px 0 rgb(4, 91, 171))

}
100%{
filter: drop-shadow(1px 1px 0 white) 
          drop-shadow(-1px -1px 0 white)
}}
body {
  color: #333;
  /*filter:grayscale(80%) opacity(100%);*/

 }

.slick-initialized .swipe-tab {  
background: linear-gradient(0deg, rgba(220, 220, 220, 1),    rgba(190, 190, 190, 1));
    border-bottom:2px solid #5e6e7c;
    border-right:1px solid rgba(170, 170, 170, 1);
    color: #5e6e7c;
}
.slick-initialized .swipe-tab:hover {
    color: #9c0000;
}
.slick-initialized .swipe-tab.active-tab {
    border-bottom-color: #045BAB;
    color: #045BAB;
    background: linear-gradient(0deg, rgba(255, 255, 255, 1),    rgba(220, 220, 220, 1));
    /*background: linear-gradient(0deg, rgba(9, 99, 176, 1),    rgba(47, 113, 169, 1));*/
    font-weight: bold;
}
.main-container_img {
    background-image:url("../../img/sky1.svg");
}
.panel-cstate-normal { 
    border-color:#8a6d3b;
    background: #f0ad4e; 
    box-shadow: 0 4px 8px 0 var(--shadow), 0 6px 20px 0 var(--shadow);
}
.panel-cstate-normal>.panel-body{
  background: rgb(255, 230, 194);
  
}
.panel-cstate>.panel-heading {
    color: #045BAB;
    /*
background: linear-gradient(0deg, rgba(47, 113, 169, 1),    rgba(9, 99, 176, 1));
    border-color:  rgba(17, 59, 96,0.5);*/
    background: linear-gradient(0deg, rgba(220, 220, 220, 1),    rgba(190, 190, 190, 1));
border:1px solid rgba(190, 190, 190, 1);
}
.head-container .row{
    margin-right: 0px;
    margin-left: 0px;
}
.head-container .row>div{


}
.head-container{
background: linear-gradient(0deg, rgba(220, 220, 220, 1),    rgba(190, 190, 190, 1));
border:1px solid rgba(190, 190, 190, 1);
color: #5e6e7c;
box-sizing:content-box;
}
.head{

margin-bottom:0px;
}
.head.gold{
  padding-left:21px;



}
.head.gold:before{
content:'';
background-image: url('http://vignette2.wikia.nocookie.net/spellstone/images/8/81/Gold_nugget.png/revision/latest?cb=20151012212850');
height:20px;
width:20px;
position:absolute;
background-size: 20px;
margin-left:-21px;
margin-top:10px;

}
.sub-header
{
border:1px solid rgba(190, 190, 190, 1);
}



#bott_slick{
background-color:rgba(156, 226, 250, 1);
}
.table>tbody>tr.danger>td, .table>tbody>tr.danger>th, .table>tbody>tr>td.danger, .table>tbody>tr>th.danger, .table>tfoot>tr.danger>td, .table>tfoot>tr.danger>th, .table>tfoot>tr>td.danger, .table>tfoot>tr>th.danger, .table>thead>tr.danger>td, .table>thead>tr.danger>th, .table>thead>tr>td.danger, .table>thead>tr>th.danger{
background:rgba(255, 0, 0, 0.16);
}
.table>tbody>tr.success>td, .table>tbody>tr.success>th, .table>tbody>tr>td.success, .table>tbody>tr>th.success, .table>tfoot>tr.success>td, .table>tfoot>tr.success>th, .table>tfoot>tr>td.success, .table>tfoot>tr>th.success, .table>thead>tr.success>td, .table>thead>tr.success>th, .table>thead>tr>td.success, .table>thead>tr>th.success{
background:rgba(0, 255, 0, 0.16);
}
.table>tbody>tr.info>td, .table>tbody>tr.info>th, .table>tbody>tr>td.info, .table>tbody>tr>th.info, .table>tfoot>tr.info>td, .table>tfoot>tr.info>th, .table>tfoot>tr>td.info, .table>tfoot>tr>th.info, .table>thead>tr.info>td, .table>thead>tr.info>th, .table>thead>tr>td.info, .table>thead>tr>th.info {
    background-color:rgba(255, 255, 255, 0.16);
}
.btn-cstate-normal-pannel
{
border:1px solid rgba(190, 190, 190, 1);
/*background:rgba(9, 99, 176, 1);*/
}
.btn.btn-cstate-normal{
border:1px solid rgba(17, 59, 96,0.5);
color:white;
background:rgba(9, 99, 176, 1);
}
.modal-content.modal-cstate{
background: rgba(156, 226, 250, 0.9);
font-color:white;
-webkit-box-shadow: inset 0px 0px 100px 0px #045BAB;
-moz-box-shadow: inset 0px 0px 100px 0px #045BAB;
box-shadow: inset 0px 0px 100px 0px #045BAB;
}
.modal-cstate .modal-header{
background: linear-gradient(0deg, rgba(47, 113, 169, 1),    rgba(9, 99, 176, 1));
    color: #ddf;
}
.thumbnail{  background: rgb(255, 255, 255);
}
.nopadding>.panel{
background-color:rgba(220, 220, 220, 1);
/*-webkit-box-shadow: inset 0px 0px 100px 0px #045BAB;
-moz-box-shadow: inset 0px 0px 100px 0px #045BAB;
box-shadow: inset 0px 0px 100px 0px #045BAB;*/
}
.box{
   /* background: rgba(156, 226, 250, 0.9);*/
    height:100px;
   /* margin: 5px;*/
   display:flex;
   padding:3px;
    border-radius: 5px;
  /*  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: inset 0px 0px 100px 0px #045BAB;
-moz-box-shadow: inset 0px 0px 100px 0px #045BAB;
box-shadow: inset 0px 0px 100px 0px #045BAB;*/
    
}
.nav_img{
max-height:50px;
filter:grayscale(100%);

transition: all 0.5s;
}
.active-tab>.nav_img{
/*max-height:75px;*/
/*z-index:1000;*/

margin-top: -25px;
filter:grayscale(0) opacity(100%);
/*animation: activeimg 2s infinite linear;*/
}
.effect>img
{
height:30px;
width:30px;
border-radius:2px;
border:1px solid rgb(170, 170, 170);
}
.lb{
width:100%;
height:0px;
}
.effect>div
{

}
#p1_effects{
align-content: flex-start;
display:flex;
flex-wrap:wrap;
}

.event{
border-radius:5px;
border:1px solid  rgb(170, 170, 170);
display:flex;
flex-wrap:wrap;
margin-bottom:2px;
background:rgb(200, 200, 200);
}
.event img
{
padding:5px;
width:100%;
}

