h1(class="page-header") Журналы работы системы
    div(id="logbtn")
        button(class="btn btn-default logbtn" rv-each-lf="loges.data") {lf}
        button(class="btn btn-success logbtn") Скачать все
    div(class="mlog")