h1(class="page-header") Информация о модулях
table(class="table",id="tmodules")
    thead
        th Статус
        th Название
        th Время старта
        th 
            button(class="btn btn-success" id="showaddmbut")
                    span(class="glyphicon glyphicon-plus",aria-hidden="true")
    tbody
        tr(rv-each-mod="model.smodule")
            td 
                img(rv-if="mod.started",src="images/on.png")
                img(rv-unless="mod.started",src="images/off.png")
            td {mod.name}
            td {mod.name}
            td
                div(class="btn-group" role="group" aria-label="..." rv-data-id="mod.id")
                    button(class="btn btn-default" rv-on-click="mod.startstop")
                        span(class="glyphicon" rv-class-glyphicon-stop="mod.started" aria-hidden="true" rv-class-glyphicon-play="mod.stoped")
                    button(class="btn btn-warning" rv-on-click="mod.edit")
                        span(class="glyphicon glyphicon-wrench",aria-hidden="true")
                    button(class="btn btn-danger" rv-on-click="mod.delete")
                        span(class="glyphicon glyphicon-minus",aria-hidden="true")
